
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Empêche le scroll horizontal */
}

.App{
  background-color: rgb(255,250,230);
  height: 100%;
}

.App-header {
  background-color: rgb(255,250,230);
  display: flex;
}

.App-logo {
  padding-top: 2%;
  margin: auto;
  padding-right: 20%;
  width: 25%;
}

.App-link {
  padding-top: 2%;
  margin: auto;
  text-decoration: none;
  color: green;
}

/* .App-pic{
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  margin-right:10%;
  width: 96%;
  height: 50%;

} */

.image-container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  margin-right:10%;
  width: 96%;
  height: 50vh;
}

.App-pic {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  margin-right:10%;
  width: 96%;
  height: 50vh;
}

.text-block {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  background-color: rgba(255,250,230); /* semi-transparent background */
  color: green;
  font-size: 20em;
  text-align: center;
  padding: 10px 0;
  font-size: 35px;
  width: 50%;
  margin-left: 25%;
}

.TwoPic {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 2%;
  margin-right:10%;
  width: 96%;
  height: auto;
}

.App-pic1 {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  margin-right:10%;
  width: 96%;
  height: 50%;
}

.title1 ,.title2{
  margin-left: 40%;
  color: green;
  margin-top:5%;
}